body
{
	background: rgb(45, 196, 247);
}

	.login_div1 , .login_div2
	{
		background: rgb(191, 71, 71);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(66, 13, 13);
border-radius: 10px;
border-top: 10px solid #0f93e5;
padding: 10px;
float: none;
text-align: left;
}
